<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\_TMP\BlogCore\BlogCore.DAL.Tests\Database1.mdf;Integrated Security=True"  -->
		<add name="BloggingDatabase"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=localhost;Database=master;Trusted_Connection=True;encrypt=false;" 
		/>
	</connectionStrings>
</configuration>